{% extends "layout.html.twig" %}

{% block title %}Catégorie {{ subCategory.label }}{% endblock %}

{% block content %}
<div id="container">
    <h2 class="text-center">{{ subCategory.label }}</h2>
    <div class="row">
        {% for item in items %}
        <div class="col-md-2 col-sm-3 col-xs-6">
            <a href="{{ path('item', { 'id': item.id }) }}" class="thumbnail">
                <img class="image-responsive" src="{{ item.image }}" title="{{ item.name }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}